  <section class="bg-dark about fullheight align-items-center" id="about">
      <div class="container">
          <div class="row">
              <div class="col-7 h-xs">
                  <img src="assets/about.jpg" alt=""
                      class="fullwidth left-to-right play-on-scroll self-image">
              </div>
              <div class="col-sm-5  align-items-center description">
                  <div class="about-slogan right-to-left play-on-scroll">
                      <h3>
                          <span class="primary-color">Hello!</span> there. I'm
                           <span class="primary-color">Saurabh Khairnar</span>
                      </h3>
                      <p>
                          A 3rd year Computer science undergraduate from SSPU,India. I'm technology enthuziast and just loves to explore various technologies. I'm very curious about the newer technogies and keen to learn them. Apart from this, I love trekking and climbing. Reading books, listening to music and watching movies 
                          are some of my hobies.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <script>
  </script>


<!-- <div class="wrap bg-dark container-fluid clearfix">
  <div class="row">
  	<b class="title align-self-center mb-3"><i>About</i></b>
  </div>
	<div class="row align-items-center justify-content-evenly">
    <div class="col-md-4 align-items-center">
      <img class="img-responsive bg-dark float-start" src="assets/about.svg" alt="Card image cap">
    </div>
		<div class="col-md-6 align-self-center text float-end">Hi, I'm Khairnar Saurabh, studying Computer Engineering from SPPU. I'm technology enthuziast and just loves to explore various technologors out there. I'm aslo a trekker with dream to climp all forts im Maharashtra before I'll 25 yrs old. I love read books especial when they are somehow releted to the History.
    </div>
  </div>
</div>
 -->