<div class="wrap">
  
<!--
  <img
    class="bgimg"
    src="https://res.cloudinary.com/sawy/image/upload/v1643180998/b1_z39ekt.jpg"
    alt=""
  >-->
  <div class="content">
		<div class="title"><p>About</p></div>
		<div class="info">Hi, I'm Khairnar Saurabh, studying Computer Engineering from SPPU. I'm technology enthuziast and just loves to explore various technologors out there. I'm aslo a trekker with dream to climp all forts im Maharashtra before I'll 25 yrs old. I love read books especial when they are somehow releted to the History.</div>
  </div>
</div>
