<div class="wrap bg-dark container-fluid clearfix">
  <div class="row">
  	<b class="title align-self-center mb-3"><i>About</i></b>
  </div>
	<div class="row align-items-center justify-content-evenly">
    <div class="col-md-4 align-items-center">
      <img class="img-responsive bg-dark float-start" src="assets/about.svg" alt="Card image cap">
    </div>
		<div class="col-md-6 align-self-center text float-end">Hi, I'm Khairnar Saurabh, studying Computer Engineering from SPPU. I'm technology enthuziast and just loves to explore various technologors out there. I'm aslo a trekker with dream to climp all forts im Maharashtra before I'll 25 yrs old. I love read books especial when they are somehow releted to the History.
    </div>
  </div>
</div>
