container-fluid{
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

.container-fluid > .row {
	height: 100vh;
}

body {
  font: 1rem/1.5 var(--bs-font-sans-serif: -apple-system);
}
a {
  color: var(--bs-blue);
}

.img-responsive{
	width: 60%;
	height: auto;
}

.greet{
	opacity: 0;
	font-size: 3vh;
}

/*.ltr {
	opacity: 0;
}*/

.second {
	opacity: 0;
	font-size: 3vh;
}

.scroll {
	opacity: 0;
	text-align: center;
	text-decoration: line-through;
}

/*#explore{
	text-align: center;
}*/

#logo {
	opacity: 0;
	max-width: 15vh;
	height: auto;
	padding-right: 1vh;
}

#welcome-svg{
	opacity: 0;
}

.name  {
	animation: fill-svg 0.5s ease forwards 6s;
}

/*.name path, mask path:nth-child(1){
	stroke-dasharray: 380px;
	stroke-dashoffset: 380px;
	animation: anime 2s ease forwards 5s;
}
.name path:nth-child(2){
	stroke-dasharray: 380px;
	stroke-dashoffset: 380px;
	animation: anime 2s ease forwards 5.3s;	
}
.name path:nth-child(3){
	stroke-dasharray: 380px;
	stroke-dashoffset: 380px;
	animation: anime 2s ease forwards 5.6s;	
}
.name path:nth-child(4){
	stroke-dasharray: 380px;
	stroke-dashoffset: 380px;
	animation: anime 2s ease forwards 5.9s;
}
.name path:nth-child(5){
	stroke-dasharray: 380px;
	stroke-dashoffset: 380px;
	animation: anime 2s ease forwards 6.2s;
}
.name path:nth-child(6){
	stroke-dasharray: 380px;
	stroke-dashoffset: 380px;
	animation: anime 2s ease forwards 6.5s;
}
.name path:nth-child(7){
	stroke-dasharray: 380px;
	stroke-dashoffset: 380px;
	animation: anime 2s ease forwards 6.8s;
}
.name path:nth-child(8){
	stroke-dasharray: 380px;
	stroke-dashoffset: 380px;
	animation: anime 2s ease forwards 7.1s;
}
.name path:nth-child(9){
	stroke-dasharray: 380px;
	stroke-dashoffset: 380px;
	animation: anime 2s ease forwards 7.4s;
}
.name path:nth-child(10){
	stroke-dasharray: 380px;
	stroke-dashoffset: 380px;
	animation: anime 2s ease forwards 7.7s;
}
.name path:nth-child(11){
	stroke-dasharray: 380px;
	stroke-dashoffset: 380px;
	animation: anime 2s ease forwards 8s;
}
.name path:nth-child(12){
	stroke-dasharray: 380px;
	stroke-dashoffset: 380px;
	animation: anime 2s ease forwards 8.3s;
}
.name path:nth-child(13){
	stroke-dasharray: 380px;
	stroke-dashoffset: 380px;
	animation: anime 2s ease forwards 8.6s;
}
.name path:nth-child(14){
	stroke-dasharray: 380px;
	stroke-dashoffset: 380px;
	animation: anime 2s ease forwards 8.9s;
}*/

@keyframes anime {
	to{
		stroke-dashoffset: 0;
	}
}

@keyframes fill-svg {
	from {
		fill: transparent;
	}
	to{
		fill: #2F8B18;
	}
}


body {
	background: #333;
}


*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }


.mouse_scroll {
	opacity:  0;
	display: block;
	margin: 0 auto;
	width: 24px;
	height: 100px;
	margin-top: 15px;
}


.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
}


.unu
{
  margin-top: 1px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;

  margin-top: -6px;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;

  animation-delay: .3s;
  animation-direction: alternate;


  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;

  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
