<div class="container-fluid bg-dark project-template">
  <div class="bg-dark">
    <h4 class=" text-warning p-4">Featured Projects</h4>
    <!-- <p class="card-text"></p> -->
  </div>
  <div class="row justify-content-evenly ">
    <div class="col-md-3 col-sm-6 item project1 p-4">
      <div class="card item-card card-block p-4">
      <h4 class="card-title text-right"><i class="material-icons">Project</i></h4>
    <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset">
        <h5 class="item-card-title mt-3 mb-3">Github User Search</h5>
        <p class="card-text">Web app created using GitHub API. It searched user based on it's username and displays data about the user if username is correct else prompts error message. Also used Firebase for authentication.</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 item project2 p-4">
      <div class="card item-card card-block p-4">
      <h4 class="item-card-title text-right"><i class="material-icons">Project</i></h4>
    <img src="https://static.pexels.com/photos/7357/startup-photos.jpg" alt="Photo of sunset">
        <h5 class="card-title  mt-3 mb-3">eShop</h5>
        <p class="card-text">Created online store API using NodeJs, ExpressJs and MongooseJs. Used JWT tokens to authenticate user and protect routes.</p>
      </div>
    </div>
<!--     <div class="col-md-3 col-sm-6 item">
      <div class="card item-card card-block">
      <h4 class="item-card-title text-right"><i class="material-icons">settings</i></h4>
    <img src="https://static.pexels.com/photos/262550/pexels-photo-262550.jpeg" alt="Photo of sunset">
        <h5 class="card-title  mt-3 mb-3">ProVyuh</h5>
        <p class="card-text">This is a company that builds websites, web apps and e-commerce solutions.</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 item">
      <div class="card item-card card-block">
      <h4 class="item-card-title text-right"><i class="material-icons">settings</i></h4>
    <img src="https://static.pexels.com/photos/326424/pexels-photo-326424.jpeg" alt="Photo of sunset">
        <h5 class="card-title  mt-3 mb-3">ProVyuh</h5>
        <p class="card-text">This is a company that builds websites, web apps and e-commerce solutions.</p>
      </div>
    </div> -->
  </div>
</div>






<!-- <div id="cards_landscape_wrap-2">
    <div class="container-fluid bg-dark">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box bg-success">
                                <img src="assets/github.svg" alt="" />
                            </div>
                            <div class="text-container ">
                                <h6 class="text-success">Github User Searcher</h6>
                                <p>
                                    The Project built using MEAN Stack. This project uses
                                    the GitHub apis to search the github userand displays
                                    the relevant data. I'm currently working on the project
                                    to expands its function and add a compare user feature
                                    to it.
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="assets/ecommerce.svg" alt="" />
                            </div>
                            <div class="text-container">
                                <h6>eShop</h6>
                                <p>
                                    The Project is built in NodeJs, MOngooseJs and ExpressJs.
                                    This is backend for online which which would sell many
                                    kinds of items to the users. Concepts used in this projects
                                    is route locking, models etc.
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box bg-info">
                                <img src="assets/hosting.svg" alt="" />
                            </div>

                            <div class="text-container">
                                <h6 class="text-info">ProjMan</h6>
                               <p>
                                    The django project used to host the code on local server.
                                    Thus helping students to manage thei project sourse code.
                               </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box bg-dark">
                                <img src="assets/tic-tac-toe.jpg" alt="" />
                            </div>
                            <div class="text-container">
                                <h6 class="text-dark">tic-tac-toe</h6>
                               <p>Tic-tac-toe game built using MEAN stack</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
 -->