   <!-- Topic Cards -->
<div id="cards_landscape_wrap-2">
    <div class="container-fluid bg-dark">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box bg-success">
                                <img src="assets/github.svg" alt="" />
                            </div>
                            <div class="text-container ">
                                <h6 class="text-success">Github User Searcher</h6>
                                <p>
                                    The Project built using MEAN Stack. This project uses
                                    the GitHub apis to search the github userand displays
                                    the relevant data. I'm currently working on the project 
                                    to expands its function and add a compare user feature
                                    to it.                        
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="assets/ecommerce.svg" alt="" />
                            </div>
                            <div class="text-container">                                    
                                <h6>eShop</h6>
                                <p>
                                    The Project is built in NodeJs, MOngooseJs and ExpressJs.
                                    This is backend for online which which would sell many
                                    kinds of items to the users. Concepts used in this projects
                                    is route locking, models etc.                    
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box bg-info">
                                <img src="assets/hosting.svg" alt="" />
                            </div>

                            <div class="text-container">
                                <h6 class="text-info">ProjMan</h6>
                               <p>
                                    The django project used to host the code on local server.
                                    Thus helping students to manage thei project sourse code.        
                               </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box bg-dark">
                                <img src="assets/tic-tac-toe.jpg" alt="" />
                            </div>
                            <div class="text-container">
                                <h6 class="text-dark">tic-tac-toe</h6>
                               <p>Tic-tac-toe game built using MEAN stack</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
<!--         <div class="row">
            Catch more projects on GitHub
        </div> -->
    </div>
</div>






<!-- <div class="container-fluid"> 
    <div class="bg bg-dark row justify-content-center">
        <div class="col-12 col-lg-4 ">
            <div class="card bg-dark my-5" >
              <img class="card-image-wrapper bg-success" src="assets/github.svg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Github User Searcher</h5>
                    <p class="card-text">
                        The Project built using MEAN Stack. This project uses
                        the GitHub apis to search the github userand displays
                        the relevant data. I'm currently working on the project 
                        to expands its function and add a compare user feature
                        to it. 
                    </p>            
                    <a href="#" class="btn btn-success">Source Code</a>
              </div>
            </div>
        </div>

        <div class="clo-12 col-lg-4">
            <div class="my-5 card bg-dark" >
              <img class="card-image-wrapper " src="assets/ecommerce.svg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">eStore: Online platform for selling products</h5>
                    <p class="card-text">
                        The Project is built in NodeJs, MOngooseJs and ExpressJs.
                        This is backend for online which which would sell many
                        kinds of items to the users. Concepts used in this projects
                        is route locking, models etc.
                    </p>            
                    <a href="#" class="btn btn-primary">Source Code</a>
              </div>
            </div>
        </div>

        <div class="col-12 col-lg-4">
            <div class="my-5 card  bg-dark align-self-center" >
              <img class="card-image-wrapper bg-primary" src="assets/hosting.svg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">The project manager:Code Hoster web app</h5>
                    <p class="card-text">
                        The django project used to host the code on local server.
                        Thus helping students to manage thei project sourse code. 
                    </p>            
                    <a href="#" class="btn btn-primary">Source Code</a>
              </div>
            </div>
        </div>
    </div> 
</div> -->                       
      
<!-- 
    <svg xmlns="http://www.w3.org/2000/svg" class="prev" width="56.898" height="91" viewBox="0 0 56.898 91"><path d="M45.5,0,91,56.9,48.452,24.068,0,56.9Z" transform="translate(0 91) rotate(-90)" fill="#fff"/></svg>
    <svg xmlns="http://www.w3.org/2000/svg" class="next" width="56.898" height="91" viewBox="0 0 56.898 91"><path d="M45.5,0,91,56.9,48.452,24.068,0,56.9Z" transform="translate(56.898) rotate(90)" fill="#fff"/></svg>  -->

