<div class=""> 
    <div class="bg">

        <div class="container-fluid clearfix box">
            <div class="row">
                <div class="col-sm-4 float-end">
                    <img src="assets/github.svg">
                </div>
                <div class="col-sm-6 align-self-center">
                    <h1 class="title">Github User Searcher</h1>
                    <p class="text">
                    	The Project built using MEAN Stack. This project uses
                    	the GitHub apis to search the github userand displays
                    	the relevant data. I'm currently working on the project 
                    	to expands its function and add a compare user feature
                    	to it. 
                    </p>
                    <button class="btn-success">Source code</button>
                </div>
            </div>
        </div>
                        
        
        <div class="container-fluid clearfix box">
            <div class="row">
                <div class="col-sm-6 align-self-center">
                    <h1>Online Store</h1>
                    <p>
       					The Project is built in NodeJs, MOngooseJs and ExpressJs.
       					This is backend for online which which would sell many
       					kinds of items to the users. Concepts used in this projects
       					is route locking, models etc.
                    </p>
                    <button class="btn-success">Source code</button>
                </div>

                <div class="col-3 gx-3 float-end align-self-center">
                    <img src="assets/github.svg">
                </div>
            </div>
        </div>
                        
        <div class="container-fluid clearfix box">
            <div class="row">
                <div class="col-sm-6 align-self-center">
                    <h1>The project manager</h1>
                    <p>
     					The django project used to host the code on local server.
     					Thus helping students to manage thei project sourse code. 
                    </p>
                    <button class="btn-success">Source code </button>
                </div>

                <div class="col-sm-3 float-end">
                    <img src="assets/github.svg">
                </div>
            </div>
        </div>
                        
        <div class="container-fluid clearfix box">
            <div class="row">
                <div class="col-sm-6 align-self-center">
                    <h1>Tik Tac Toe</h1>
                    <p>
                    	A web based game developed using AngularJs.
                    </p>
                    <button class="btn-success">Source code</button>
                </div>

                <div class="col-sm-3 float-end">
                    <img src="assets/github.svg">
                </div>
            </div>    
        </div>
                                
    </div>

<!--     <svg xmlns="http://www.w3.org/2000/svg" class="prev" width="56.898" height="91" viewBox="0 0 56.898 91"><path d="M45.5,0,91,56.9,48.452,24.068,0,56.9Z" transform="translate(0 91) rotate(-90)" fill="#fff"/></svg>
    <svg xmlns="http://www.w3.org/2000/svg" class="next" width="56.898" height="91" viewBox="0 0 56.898 91"><path d="M45.5,0,91,56.9,48.452,24.068,0,56.9Z" transform="translate(56.898) rotate(90)" fill="#fff"/></svg> -->
</div>
