<div class="container-fluid clearfix animate">
	<div class="row align-items-center justify-content-evenly">
		<div class="col-sm-6 align-items-center float-end">
			<div class="text-content align-self-center me-auto">
				<section>
					<img class="logo languages" src="https://upload.wikimedia.org/wikipedia/commons/3/38/HTML5_Badge.svg" alt="HTML">
					<img class="logo languages" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/256px-CSS3_logo_and_wordmark.svg.png" alt="CSS">
					<img class="logo languages" src="https://upload.wikimedia.org/wikipedia/commons/1/18/ISO_C%2B%2B_Logo.svg" alt="c++">
					<img class="logo languages" alt="Python programming language" src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg" alt="python">
					<img class="logo languages" src="https://upload.wikimedia.org/wikipedia/commons/9/99/Unofficial_JavaScript_logo_2.svg" alt="JS">
					<img class="logo languages" src="https://upload.wikimedia.org/wikipedia/commons/4/4c/Typescript_logo_2020.svg" alt="TS">
				</section><!-- 
				<div ><p id="nameIntro">Namaste I'm, SAURABH.</p></div>
				<div id="text">An aspiring Full-stack developer, creative coder and trekker from <p>India</p></div>
				<div class="logo" id="down-arrow"><img src="https://res.cloudinary.com/sawy/image/upload/v1643366790/downArrow_vbwkix.png"></div> -->
		 	</div>
			<div class="column align-self-center">
				<img class="logo mean-stack" src="https://res.cloudinary.com/sawy/image/upload/v1643357279/mean-stack/mongodb-icon_mxwlvl.svg">
				<img class=" logo mean-stack" src="https://res.cloudinary.com/sawy/image/upload/v1643360365/mean-stack/express-js_ccexpress_oqqrqy.png">
				<img class="logo mean-stack" src="https://res.cloudinary.com/sawy/image/upload/v1643357253/mean-stack/angular-logo_gmkqqs.png">
				<img class="logo mean-stack" src="https://res.cloudinary.com/sawy/image/upload/v1643357253/mean-stack/nodejs-logo_ml2ydv.png">
			</div>
			<div class="column align-self-center">
				<img class="logo mean-stack stack" src="https://res.cloudinary.com/sawy/image/upload/v1643365587/stack/django_zapkaw.jpg">
				<img class=" logo mean-stack stack" src="https://res.cloudinary.com/sawy/image/upload/v1643365603/stack/mysql_wo7hsq.png">
				<img class="logo mean-stack stack" src="https://res.cloudinary.com/sawy/image/upload/v1643365587/stack/getpostman-icon_figyje.svg">
				<img class="logo mean-stack stack" src="https://res.cloudinary.com/sawy/image/upload/v1643365588/stack/swagger_gnmxjv.png">		
			</div>
		</div>
<!-- 		<div class="img-responsive col-md-12 float-start bg-success">
			<img src="assets/skills.svg">
		</div> -->
	</div>
</div>
